services:
  db:
    image: postgres:18-alpine
    env_file:
      - .env.common
    ports:
      - "${POSTGRES_PORT:-5436}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always

  redis:
    image: redis:latest
    env_file:
    - .env.common
    ports:
    - "${REDIS_PORT:-6380}:6379"
    volumes:
    - redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli", "-a", "-${REDIS_PASSWORD}","ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    command: redis-server --requirepass "${REDIS_PASSWORD}"
    restart: always
    
  migrate:
    image: migrate/migrate
    env_file:
      - .env.common
      - .env.docker
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path", "/migrations",
        "-database", "postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DBNAME}?sslmode=${DB_SSLMODE}",
        "up"
      ]
    restart: "no"

  app:
    build: .
    env_file:
      - .env.common
      - .env.docker
    depends_on:
      migrate:
        condition: service_completed_successfully
      redis:
        condition: service_healthy
    ports:
      - "${SERVER_PORT:-8080}:8080"
    restart: always

volumes:
  pg_data:
  redis_data:
